<link rel="stylesheet" type="text/css" href="dist/styleSheet/configPage-a82382dd70.css">
<section class="list-config">
    <h2 class="view-title">
        <a href="javascript:void(0);" class="js_view_link" data-view="listWebsite">应用列表</a> / 
        <span class="current-crumb">添加应用场景</span></h2>
    <div class="view-panel panel panel-default">
        <div class="container-fluid panel-body">
            <div class="row">
                <div class="col-md-12">
                    <form class="form-horizontal add-config-form" id="js_add_application_form"  role="form" data-toggle="validator">
                        <fieldset>
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="appName"><i class="text text-danger label-require">*</i>场景名称</label>
                                <div class="col-md-3">
                                    <input id="appName" name="name" type="text" placeholder="请填写应用场景名称" class="form-control input-md" required="">
                                </div>
                            </div>
                            
                            <!-- Button (Double) -->
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="button1id"></label>
                                <div class="col-md-2">
                                    <button id="button1id" name="button1id" type="submit" class="btn btn-primary">保 &nbsp; 存</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript" src="dist/js/pages/configPage-2f7199b942.js"></script>
