<link rel="stylesheet" type="text/css" href="dist/styleSheet/configPage-a82382dd70.css">
<section class="list-config">
    <h2 class="view-title">
        <a href="javascript:void(0);" class="js_view_link" data-view="listWebsite">项目列表</a> / 
        <span class="current-crumb">添加项目</span></h2>
    <div class="view-panel panel panel-default">
        <div class="container-fluid panel-body">
            <div class="row">
                <div class="col-md-12">
                    <form class="form-horizontal add-website-form" id="js_add_website_form" role="form" data-toggle="validator">
                        <fieldset>
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="name"><i class="text text-danger label-require">*</i>项目名称</label>
                                <div class="col-md-2">
                                    <input id="name" name="name" type="text" placeholder="请填写项目名称" class="form-control input-md" required="">
                                </div>
                            </div>
                            
                            
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="code"><i class="text text-danger label-require">*</i>项目编码</label>
                                <div class="col-md-2">
                                    <input id="code" name="code" type="text" placeholder="填写项目编码" class="form-control input-md" required="">
                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="logo"><i class="text text-danger label-require">*</i>项目Logo</label>
                                <div class="col-md-8">
                                    <input id="logo" name="logo" type="text" placeholder="项目的logo 链接地址" class="form-control input-md" required="">
                                </div>
                            </div>
                            
                            <!-- Button (Double) -->
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="button1id"></label>
                                <div class="col-md-2"> 
                                    <button id="button1id" type="submit" name="button1id" class="btn btn-primary">保 &nbsp; 存</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript" src="dist/js/pages/configPage-2f7199b942.js"></script>
